<div class="login-page" >
    <div class="login-box animated fadeIn" id="login-box">
        <div class="login-logo">
            <img src="assets/images/Cognizant-Logo.png" alt="CTS Logo" style="height: 40px; width: 173px;">
            
        </div>
        
         <div class="login-box-body">
            <p class="login-box-msg"><b>Smart</b>CNR</p>
            
            <form #localform="ngForm" (ngSubmit)="signOff(localform.value)" novalidate>

                <em *ngIf="localform.controls.userName?.invalid && localform.controls.userName?.touched  && localform.controls.userName?.errors.pattern">Only Numeric</em>
                <div  class="alert alert-danger" *ngIf="error">InValid UserName/Password</div>
                <div class="row">
                    <div>
                        <div class="form-group has-feedback">
                            <input type="text" class="form-control" id="userName" placeholder="User ID"  required (ngModel)="userName" name="userName" ng-pattern="/^[0,9]*$/"/>
                            
                            <span class="glyphicon glyphicon-user form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div>
                        <div class="form-group has-feedback">
                            <input type="password" class="form-control"  id="password" placeholder="Password"  required (ngModel)="password" name="password"/>
                            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                        </div>
                    </div>
                </div>
                 <!--
                <div class="row">
                    <div class="progress progress-sm active">
                       
                        <div class="progress-bar progress-bar-warning progress-bar-striped" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 100%">
                                                        <span class="sr-only">20% Complete</span>
                        </div> 
                    </div>
                </div> -->
                <div class="row">
                    <div class="text-center">
                        <button type="submit" [disabled]="localform.invalid" class="btn btn-primary btn-block " >Sign In</button>
                    </div><!-- /.col -->
                </div>

                   -
                    <div class="col-xs-4">
                        <br/>
                        <br/>

                        userName                        ::      {{localform.controls.userName?.invalid}}
                        touched                         ::      {{localform.controls.userName?.touched}}  
                        errors.pattern                  ::      {{localform.controls.userName?.errors.pattern}}

                        <!--
                        {{localform.valid || localform.untouched}}
                        localform.valid     ::  {{localform.valid}} <br/>
                        localform.invalid   ::  {{localform.invalid}} <br/>
                        localform.dirty     ::  {{localform.dirty}} <br/>
                        localform.pristine  ::  {{localform.pristine}} <br/>
                        localform.submitted ::  {{localform.submitted}} <br/>
                        localform.touched   ::  {{localform.touched}}  <br/>
                        localform.untouched ::  {{localform.untouched}}   <br/>

                        -->
                    </div> 
                    
                
              
            </form>
        </div>

        <div class="login-box-msg">
            <br>
            <h6 style="color: #a2181e;">*Your user credentials are same as your corporate login</h6>
        </div>
    </div>
</div>